.photo{
    float: left;
    width: 50%;
    
}
.name{
    margin-top: 10%;
      
}
/*.dec{
    
    text-align: right;
    margin: 10%;
}
.til{
     
    text-align: right;
}
#about{
    
    text-align: left;  
}
