.para{
    font-style: italic;
    background-color: #c9def0;
    padding: 8px;
}
#menu{
    color:  #2c3e50;
    font-size: 32px;
    border: 1px solid #ccc;
    padding: 16px;
    display: flex;
    justify-content: center;

}
#box{
    border-style:dashed;
    border-spacing: 10px;
    background-color: antiquewhite;
}
td,th
{
    border-style:groove;
    padding: 10px;
    text-align: center;
    background-color: aqua;

}
 
#divA
{
    display: flex;
    align-items: center;
    justify-content: center;
}
